@{
    ViewBag.Title = "Home Page";
}



<div class="row head-background">
    <div class="col-md-6">
        <img src="~/Content/Images/pozaent.png" class="img-fluid head-image" alt="Rent a car logo image" />
    </div>
    <div class="col-md-6">
        <div class="jumbotron">
            <h1>Автомобили под наем 24/7</h1>
            <p class="lead"> Фирма "Rent a Car" ЕООД Ви предлага автомобили под наем. Компанията разполага с автомобили от висок клас. Вие сами избирате кой автомобил да вземете за Вашето пътуване.</p>
            <p class="head"><a href="/Home/About" class="btn btn-primary btn-lg">Вижте повече &raquo;</a></p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>За Rent A Car</h2>
        <p>
            Rent A Car предлага автомобили под наем в цяла България и по-големите летища на Балканите. 
            Основните ни предимства са: новите автомобили, високо ниво на обслужване, удобни локации. 
            Компанията ни е основана през 2003 г. Към момента е един от водещите доставчици на услугата в страната.

            Предлагаме програма с отстъпки на редовните ни клиенти. 
            Създадохме програмата MyTop, която гарантира отстъпки и бонуси на клиентите ни когато резервират онлайн.
        </p>
        <p><a class="btn btn-default" href="/Home/About">Вижте повече &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Какво Ви гарантираме</h2>
        <p>
            <ul>
                <li>Професионално обслужване</li>
                <li>Нови автомобили (2000+)</li>
                <li>24/7 Денонощна поддръжка </li>
                <li>Офиси на летище</li>
                <li>Достъпни цени</li>
                <li>Програма за отстъпки</li>
            </ul>
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Вижте повече &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Офиси в България</h2>
        <p>Rent A Car разполага с офиси на Летище София, Летище Пловдив, Летище Варна, Летище Бургас,
        в централните части на градовете и големите летни курорти.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Вижте повече &raquo;</a></p>
    </div>
</div>